* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.count-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 40px auto;
}
.count-wrapper h1 {
  font-size: 3rem;
  margin: 0;
  color: red;
}

.inc-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.inc-btn-wrapper button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.dec-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dec-btn-wrapper button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
